$white-accent: #F5F7FB;
$blue-accent: #4D5B9E;
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Inter:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);




body{
  background-color: $white-accent;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding-left: 30vw;
  padding-right: 30vw;
  padding-top: 10vh;
  
}

.start{
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__tittle{
    font-family: Inter;
    font-size: 80px;
    font-weight: 900;
    line-height: 97px;
    letter-spacing: 0em;
    text-align: center;
    color: $blue-accent;
  }

  &__button{
    width: 378px;
    height: 80px;
    border-radius: 16px;
    border-color: $blue-accent;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

    background-color: $white-accent;
    color:  $blue-accent;    
    transition: background-color 0.3s ease, color 0.3s ease; 


    &:hover{
      background-color: $blue-accent;
      color: $white-accent;
      cursor: pointer;
      
    }
    &:focus{
      background-color: $blue-accent;
      color: $white-accent;      
    }
   
  }
}

.settings{
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 420px;
  height: 600px;
  border-radius: 8px;
  background-color: white;




  box-shadow: 0px 4px 4px 0px #00000040;
  box-shadow: 0px 0px 4px 0px #00000040;


  &__title{
    border-bottom: 2px solid $white-accent;
    height: 64px;
    padding: 16px 24px 16px 24px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
    color: $blue-accent;
  }
  
  &__main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
      &__label{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: left;
        color: $blue-accent;

      }
      &__input{
        padding: 10px 24px 10px 24px;
        border-radius: 8px;
        border: 1px;
        gap: 10px;
        color: #777777;
        border: 1px solid #777777;

      
      }

      &__label1-50{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;        
        color: #777777;


      }
  }
}


/* Define the keyframes for the spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Style the loading spinner */
.loading-spinner {
  border: 4px solid $blue-accent; /* Replace with your blue color */
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Apply the spin animation */
  margin-top: 50vh;
}

.default__card{
  color: #4D5B9E;
  background-color: white;
  width: 720px;
  padding: 32px;
  border-radius: 8px;
  border: 3px solid #777777;
  margin-bottom: 10px;  

  &__button{   
 padding: 8px 16px 8px 16px;
 border-radius: 8px;
 border: 1px solid #4D5B9E;
 margin-right: 5px;
 margin-bottom: 5px;
 background: white;
 color: #4D5B9E;


  }

  &__button:hover{
    background: linear-gradient(0deg, #D6DBF5, #D6DBF5), linear-gradient(0deg, #4D5B9E, #4D5B9E);
    color: black;
    cursor: pointer;    
  }

  &__button:focus{
    background: linear-gradient(0deg, #D6DBF5, #D6DBF5), linear-gradient(0deg, #4D5B9E, #4D5B9E);
    color: black;
    cursor: pointer;    
  }
}

.selected {
  background: linear-gradient(0deg, #D6DBF5, #D6DBF5),
              linear-gradient(0deg, #4D5B9E, #4D5B9E);
              color: black;

  }




.correct {
  background-color: #94D7A2;


}

.incorrect {
  background-color: #F7D9DB;
  text-decoration: line-through;

  
}

.correct_background{
  // background-color: greenyellow;
}
.incorrect_background{
  background: #F7D9DB59;
  

  }

.quiz__header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.xicon:hover{
  cursor: pointer;
}

.gear_icon{
  margin-left: auto;
  padding-right: 10px;
}
.gear_icon:hover{
  cursor: pointer;
}

.result_icon {
  margin-left: auto;
}

.buttonsAndIcon{
  display: flex;
}

.score{
  color: #4D5B9E;
  background-color: #FFB00426;
  width: 720px;
  padding: 32px;
  border-radius: 8px;
  border: 3px solid #777777;
  margin-bottom: 10px;  
  color: #555555;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__count{
    border-radius: 8px;
    border: 3px solid #777777;
    background-color: white;
    padding: 3px;
  }

}

.simple_button{
 
  padding: 16px 24px;
  margin: 10px;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color:#F5F5F5;
  background-color: #4D5B9E;

  border: none;
  transition: opacity 0.3s ease; /* Add a smooth transition effect for opacity change */


    &:hover{
      opacity: 0.9;
      cursor: pointer;
      
    }
    &:focus{
      opacity: 0.9;
      
    }
   
  }
  .quiz__header{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #555555;
  }

  .error_carts{
    color: #4D5B9E;
  background-color: #F7D9DB59;
  width: 720px;
  padding: 32px;
  border-radius: 8px;
  border: 3px solid #777777;
  margin-bottom: 10px;  
  color: #555555;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

  }
  &__btn{
    display: flex;
    justify-content: end;
}
  }


  .categorys_div{
    margin-top: 15px;
  }

  .categorys{   
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: center;
      color: #777777;
      padding: 4px 12px;
      border-radius: 4px;
      border: 1px solid #777777;
      margin-right: 3px;
  }